<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rectangle Checker</title>
  </head>
  <body>
    <h1>Is it a square?</h1>

    <h5>Your rectangle's length is @Model["shape1"].GetLength()</h5>
    <h5>Your rectangle's width is @Model["shape1"].GetWidth()</h5>

    @if (@Model["shape1"].IsSquare()) {
      <p>you made a square!</p>
    }
  </body>
</html>
