<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rectangle Checker</title>
  </head>
  <body>
    <h1>Is it a square?</h1>

    <h5>Your rectangle's length is @Model["shape1"].Length</h5>
    <h5>Your rectangle's width is @Model["shape2"].Length</h5>
  </body>
</html>
